{{#each erros}}
<dic class="alert alert-danger mt-4">{{texto}} </div>

{{else}}
 

{{/each}}



<h2>Adicionar Postagens</h2>
<div class="card">
  <div class="card-body">
<form action="/postagens/novo" method="POST">
<label for="nome">Titulo:</label>
<input type="text" id="titulo" name="titulo" placeholder="Titulo" class="form-control" required>
<label for="descricao">Descricao:</label>
<input type="text" id="descricao" name="descricao" placeholder="Descricao" class="form-control" required> 
<label for="conteudo" >Conteudo:</label>
<textarea name="conteudo" class="form-control" required></textarea>
<label for="categoria" >Usuarios:</label>
<select name="categoria" class="custom-select">
    {{#each cadastros}}
       <option value="{{id}}">{{nome}}</option>
    {{else}}
    <option value="0">Registros não Encontrados</option>
    {{/each}}

</select>
<br>
<button class="btn btn-success mt-2" type="submit">Cadastrar</button>
</form>
  </div>
</div>